body{
    width:300px;
    height:200px;
    background-color: beige;
    display:flex;
    justify-content:center;
}

p{
    display:inner-flex;
    margin: auto 10px;
    color:rgb(27, 26, 27);
    border-radius:5px;
    font-size: 18px;
    padding:10px;
}